
@{
    ViewBag.Title = "Lectures and Tutorials";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-4">
        @Html.DropDownList("Module", ViewBag.modules as List<SelectListItem>, new { @class = "form-control" })
        <br />
        @Html.DropDownList("AcadYear", ViewBag.acadYears as List<SelectListItem>, new { @class = "form-control" })
    </div>
    <div class="col-sm-8">
        <ul class="nav nav-pills" id="docType">
            <li class="active"><a href="javascript:void(0)" data-docType="lecture">Lectures</a></li>
            <li><a href="javascript:void(0)" data-docType="tutorial">Tutorials</a></li>
        </ul>
        <br />
        <table id="lecturesAndTutorials" class="table table-bordered display" cellspacing="0">
            <thead>
                <tr>
                    <th class="col-xs-12">Title</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <link href="~/Scripts/DataTables/datatables.min.css" rel="stylesheet" />

    <script>
        var docType = "lecture";

        $(document).ready(function () {
            //alert("asdf");

            var table = $('#lecturesAndTutorials').DataTable({
                searching: false,
                ordering: false,
                processing: true,
                serverSide: true,
                ajax:
                {
                    url: "/LecturesAndTutorials/Get",
                    type: "POST",
                    contentType: "application/json",
                    data: function (d) {
                        //console.log(searchVM);
                        //d.modelVM = searchVM;

                        d.docType = docType;
                        d.moduleID = $("#Module").val();
                        d.acadYearID = $("#AcadYear").val();
                        
                        return JSON.stringify(d);
                    },
                    complete: function () {
                        //LoadImagesAsync();
                    }
                },
                "lengthMenu": [[10, 50, 100], [10, 50, 100]]
            });

            $("#AcadYear").change(function () {
                //alert($(this).val());
                table.draw();
            });

            $("#Module").change(function () {
                //alert($(this).val());
                table.draw();
            });

            $("#docType > li > a").click(function () {
                $("#docType > li").removeClass("active");
                $(this).parent().addClass("active");
                docType = $(this).data("doctype");

                table.draw();
            });
        });
    </script>
}