/.vs
/INTRANET/bin
/INTRANET/obj
/INTRANET.Common/obj
/INTRANET.Common/bin
/INTRANET.Data/obj
/INTRANET.Data/bin
/INTRANET.Model/obj
/INTRANET.Model/bin
/INTRANET.Service/obj
/INTRANET.Service/bin
/packages/EntityFramework.6.1.3
/packages/EntityFramework.6.2.0
/packages/jQuery.3.3.1
/packages/jQuery.Validation.1.16.0
/packages/Microsoft.ApplicationInsights.2.4.0
/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.4.0
/packages/Microsoft.ApplicationInsights.DependencyCollector.2.4.1
/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.4.1
/packages/Microsoft.ApplicationInsights.Web.2.4.1
/packages/Microsoft.ApplicationInsights.WindowsServer.2.4.1
/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.4.0
/packages/Microsoft.AspNet.Identity.Core.2.2.1
/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1
/packages/Microsoft.AspNet.Identity.Owin.2.2.1
/packages/Microsoft.AspNet.Mvc.5.2.3
/packages/Microsoft.AspNet.Razor.3.2.3
/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0
/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/packages/Microsoft.AspNet.WebApi.5.2.3
/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3
/packages/Microsoft.AspNet.WebPages.3.2.3
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8
/packages/Microsoft.Extensions.Configuration.1.0.0
/packages/Microsoft.Extensions.Configuration.Abstractions.1.0.0
/packages/Microsoft.Extensions.Primitives.1.0.0
/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/packages/Microsoft.Net.Compilers.2.6.1
/packages/Microsoft.Owin.3.1.0
/packages/Microsoft.Owin.Host.SystemWeb.3.1.0
/packages/Microsoft.Owin.Security.3.1.0
/packages/Microsoft.Owin.Security.Cookies.3.1.0
/packages/Microsoft.Owin.Security.Facebook.3.1.0
/packages/Microsoft.Owin.Security.Google.3.1.0
/packages/Microsoft.Owin.Security.MicrosoftAccount.3.1.0
/packages/Microsoft.Owin.Security.OAuth.3.1.0
/packages/Microsoft.Owin.Security.Twitter.3.1.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Modernizr.2.8.3
/packages/Newtonsoft.Json.10.0.3
/packages/Owin.1.0
/packages/Respond.1.4.2
/packages/System.Collections.4.0.11
/packages/System.Diagnostics.Debug.4.0.11
/packages/System.Diagnostics.DiagnosticSource.4.4.1
/packages/System.IO.4.1.0
/packages/System.Linq.4.1.0
/packages/System.Resources.ResourceManager.4.0.1
/packages/System.Runtime.4.1.0
/packages/System.Runtime.Extensions.4.1.0
/packages/System.Runtime.InteropServices.4.1.0
/packages/System.Threading.4.0.11
/packages/WebGrease.1.6.0
/packages/Antlr.3.5.0.2
/packages/Autofac.4.6.2
/packages/Autofac.Configuration.4.0.1
/packages/Autofac.Mvc5.4.0.2
/packages/bootstrap.3.3.7
/INTRANET/App_Data/HrProjectDb.mdf
/INTRANET/App_Data/HrProjectDb_log.ldf
/INTRANET/App_Data
/packages/FreeSpire.Doc.7.1.13
/packages/System.Linq.Dynamic.1.0.7
/packages/DocX.1.3.0
